CairoSVG==1.0.20
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.2.0
Pyphen==0.9.4
Wand==0.4.3
WeasyPrint==0.28
argparse==1.2.1
cairocffi==0.7.2
cffi==1.6.0
cssselect==0.9.1
et-xmlfile==1.0.1
html5lib==0.9999999
jdcal==1.2
lxml==3.6.0
numpy==1.11.0
openpyxl==2.3.5
pandas==0.18.1
pycparser==2.14
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
tinycss==0.3
viivakoodi==0.8.0
wsgiref==0.1.2
xlrd==1.0.0
