body { padding-top: 40px; }

.top-mini-buffer {
    margin-top:5px;
}

.top-half-buffer {
    margin-top:10px;
}

.top-buffer {
    margin-top:20px;
}

.top-double-buffer {
    margin-top:40px;
}

.center {
    text-align:center;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

label {
    display: block;
}

.myfooter {
    color: #999; /* IE8 proofing */
    color: rgba(100,100,100,.5);
    text-align: center;
}

footer ul {
    list-style-type: none;
}

td .progress {
    margin: 0
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

.dataTables_filter {
    float:left !important;
}

.dataTables_length {
    float:right !important;
}

#non-scan{
    width:80%;
    height:80px;
    position:fixed;
    z-index:9999;
    background:rgba(0,0,0,0.2)
}