<html>
    <head>
         <link rel="help" href="http://www.w3.org/TR/CSS21/tables.html#table-layout">
    </head>
    <body>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td style="width:400pt;border:none">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width:155pt;border:none">始发网点Orig. Branch:</td>
                                        <td style="border:none">英国</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件人Sender's Name:</td>
                                        <td style="border:none">{{sender_name}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件人电话(Tel. #):</td>
                                        <td style="border:none">{{sender_phone}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件公司Co. name:</td>
                                        <td style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件人地址Shipper's Add:</td>
                                        <td style="border:none">{{sender_address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="border:none;text-align: left">
                            <span style="font-size:3em">{{package_type}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td style="width:80pt;border:none">
                            <span style="font-size:1.3em;font-weight: bold">送达地址: Dest. Inf</span>
                        </td>
                        <td style="border:none">
                            <table>
                                <tbody style="font-weight: bold; font-size: 120%">
                                    <tr>
                                        <td style="width:120pt;border:none">收件人Name of Receiver:</td>
                                        <td style="border:none">{{receiver_name}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">收件人电话Tel. #:</td>
                                        <td style="border:none">{{receiver_mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">收件公司Co. name:</td>
                                        <td style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">收件人地址<br>Add of Receiver:</td>
                                        <td style="border:none">{{full_address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="border: 1px solid;border-left:none;border-right:none">
                <tbody>
                    <tr>
                        <td style="width:80pt;border:none;border-right: 1px solid">

                        </td>
                        <td style="border:none">
                            <span style="font-size:{{receiver_province_city_font_size}}em">
                                {{receiver_province}}&nbsp;{{receiver_city}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                      <td style="width:150pt;border:none;text-align:left">
                        <p>下单时间:<br>{{time.strftime('%d, %b %Y')}}</p>
                        </td>
                        <td style="border:none; text-align: center">
                            <img src="{{top_image}}" style="width:100%">
                        </td>
                        <td style="width:50pt;border:none">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="border: 1px solid;border-left:none;border-right:none">
                <tbody>
                    <tr>
                        <td style="width:80pt;border:none">
                            <span>运单号码</span>
                            <br><span>Waybill#</span>
                        </td>
                        <td style="border:none; text-align: center">
                            <span style="font-size:1.5em">{{ticket_number}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="border: 1px solid;border-left:none;border-right:none">
                <tbody>
                    <tr>
                        <td style="width:250pt;border:none">
                            <span>收件人/代签人</span><br>
                            <span>Name of Sign-off</span>
                        </td>
                        <td style="border:none">
                            <span>签收时间:
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</span><br>
                            <span>Date of Received</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="border: 1px solid;border-left:none;border-right:none">
                <tbody>
                    <tr>
                        <td style="border:none">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="border:none">
                                            <span>托寄物品简述:</span>
                                            <span style="font-weight: bold">{{item_names}}</span>
                                        </td>
                                        <td style="width:100pt;border:none">
                                            <span>订单号:</span>

                                        </td>
                                        <td style="border:none">
                                            <span>订单编号:</span><br><span>Order#</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:none">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width:250pt;border:none">
                                            <span>总件数:</span><br>
                                            <span>Ttl. #Of Packages</span><br>
                                            <span>快件类型Shipment Type:</span>
                                        </td>
                                        <td style="width:100pt;border:none">
                                            <span style="border: 1px solid">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>文件DOC</span>
                                        </td>
                                        <td style="border:none">
                                            <span style="border: 1px solid">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>包裹Parcel</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td style="width:350pt;border:none; text-align: center">
                            <img src="{{bot_image}}" style="width:100%">
                            <span style="font-size:1em">{{ticket_number}}</span>
                        </td>
                        <td style="border:none;padding-left:1em">
                            <img src="static/img/yunda.png" style="width:100%">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="border-top: 1px solid;page-break-before:always">
                <tbody>
                    <tr>
                        <td style="border:none;border-right: 1px solid">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width:150pt;border:none">始发网点Orig. Branch:</td>
                                        <td style="border:none">英国</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件人Sender's Name:</td>
                                        <td style="border:none">{{sender_name}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件人电话(Tel. #):</td>
                                        <td style="border:none">{{sender_phone}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件公司Co. name:</td>
                                        <td style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">寄件人地址Shipper's Add:</td>
                                        <td style="border:none">{{sender_address}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">&nbsp;</td>
                                    </tr>

                                    <tr style="font-weight: bold; font-size: 120%">
                                        <td style="border:none;padding-left:2em">收件人Name of Receiver:</td>
                                        <td style="border:none">{{receiver_name}}</td>
                                    </tr>
                                    <tr style="font-weight: bold; font-size: 120%">
                                        <td style="border:none;padding-left:2em">收件人电话Tel. #:</td>
                                        <td style="border:none">{{receiver_mobile}}</td>
                                    </tr>
                                    <tr style="font-weight: bold; font-size: 120%">
                                        <td style="border:none;padding-left:2em">收件公司Co. name:</td>
                                        <td style="border:none"></td>
                                    </tr>
                                    <tr style="font-weight: bold; font-size: 120%">
                                        <td style="border:none;padding-left:2em">收件人地址<br>Add of Receiver:</td>
                                        <td style="border:none">{{full_address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width:80pt;border:none">
                            <span style="font-size:1.2em">{{item_names}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </body>
</html>
