<html>
    <head>
         <link rel="help" href="http://www.w3.org/TR/CSS21/tables.html#table-layout">
    </head>
    <body>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td style="width:250pt;border:none">
                            <span style="font-size:3em">{{package_type}}</span>
                        </td>
                        <td style="border:none"><img src="{{top_image}}" style="width:100%"></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td style="width:55pt">
                            <span>寄件:</span>
                        </td>
                        <td>
                            <span style="font-size:1.2em">
                                {{sender_name}}&nbsp;{{sender_phone}}<br>
                                {{sender_address}}
                            </span>
                        </td>
                        <td style="width:150pt"></td>
                    </tr>

                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td style="width:55pt">
                            <span>收件:</span>
                        </td>
                        <td>
                             <span style="font-size:1.5em">
                                 {{receiver_name}}&nbsp;{{receiver_mobile}}<br>
                                 {{receiver_city}}&nbsp;{{receiver_address}}<br>
                                 邮编:&nbsp;{{receiver_post_code}}
                             </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span>付款方式:</span><br>
                            <span>计费重量(KG):{{package_weight}}</span><br>
                            <span>报价金额(GBP):{{total_price}}</span>
                        </td>
                        <td>
                            <span>收件人/代收件人:</span><br>
                            <span>签收时间:
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</span><br>
                            <span style="font-size:0.8em">快件送达收货人地址, 经收件人或收件人允许的代收人签字, 视为送达.</span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span>件数: {{n_package}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重量(KG): {{package_weight}}</span><br>
                            <span>配货信息: </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:1.1em">（总数: 0）</span>
                            <br><br><br><br><br>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td style="width:350pt;border:none"><img src="{{bot_image}}" style="width:100%"></td>
                        <td style="border:none"></td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td style="width:55pt"><span>寄件:</span></td>
                        <td>
                            <span>
                                {{sender_name}}&nbsp;{{sender_phone}}<br>
                                {{sender_address}}
                            </span>
                        </td>
                        <td style="width:55pt">
                            <span>收件:</span>
                        </td>
                        <td>
                            <span>
                                {{receiver_name}}&nbsp;{{receiver_mobile}}<br>
                                {{receiver_address}}&nbsp;{{receiver_city}}<br>
                                邮编:&nbsp;{{receiver_post_code}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td style="width:350pt"><span>备注:</span><span style="font-size:1.2em">{{item_names}}</span>
                            <hr>
                            <span>网址: www.ems.com.cn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服电话: 11183</span>
                        </td>
                        <td>
                            <img src="static/img/ems_qr.png" style="width:100%">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </body>
</html>