<html>
    <head>
         <link rel="help" href="http://www.w3.org/TR/CSS21/tables.html#table-layout">
    </head>
    <body style="font-family: 'DejaVu Serif' !important;">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="{{image}}" style="width:100%">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 10px; margin-bottom: 5px">
                <tbody>
                    <tr>
                        <td style="width:70%; text-align:right"></td>
                        <td style="text-align:right"></td>
                    </tr>
                    {% for item, count, price in breakdown %}
                        {% for n in range(count) %}
                            <tr>
                                <td style="">{{item}}</td>
                                <td style="text-align:right">&pound;{{price}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <table style="margin-bottom: 20px">
                <tbody>
                    <tr>
                        <td style="width:70%; text-align:right">Total</td>
                        <td style="text-align:right">&pound;{{total}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Cash</td>
                        <td style="text-align:right">&pound;{{paid}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Change Due</td>
                        <td style="text-align:right">&pound;{{change}}</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-bottom: 20px; text-align:center">
                <tbody>
                    <tr>
                        <td>No. ITEMS SOLD {{total_items}}</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-bottom: 20px; text-align:center">
                <tbody>
                    <tr>
                        <td>TC# {{serial_number}}</td>
                    </tr>
                </tbody>
            </table>
            <table style="text-align:center">
                <tbody>
                    <tr>
                        <td>{{timestamp.strftime('%d/%m/%Y %H:%M:%S')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
