<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Upload Excel File to Generate Orders in Batch mode</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 col-md-3">
            <span class="btn btn-file btn-lg btn-block btn-success pull-right">
                <i class="fa fa-upload"></i>&nbsp;Upload Excel
                <input ngf-select type="file" ng-model="file">
            </span>
        </div>

        <div class="col-lg-6 col-md-6" ng-show="job.upload_file && !job.id">
        <li style="display:block;">
            <p>
                <strong>{[job.upload_file.name]}</strong>
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-active" role="progressbar" aria-valuenow="{[job.upload_file.percentage]}" aria-valuemin="0" aria-valuemax="100" style="width: {[job.upload_file.percentage]}%">
                    <span>Uploading -- {[job.upload_file.percentage]}%</span>
                </div>
                </div>
            </li>
        </div>

        <div class="col-lg-6 col-md-6" ng-show="job.id">
        <li style="display:block;">
            <p>
                <strong>{[job.upload_file.name]}</strong>
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{[job.upload_file.percentage]}" aria-valuemin="0" aria-valuemax="100" style="width: {[job.data.percentage]}%">
                    <span>{[job.data.status]} -- {[job.data.percentage]}%</span>
                </div>
                </div>
            </li>
        </div>

        <div class="col-md-3" ng-show="job.data.success">
            <a class="btn btn-warning btn-block btn-lg" ng-href="{[api_prefix]}/batch-order?id={[job.id]}" target="_blank"><i class="fa fa-download"></i>&nbsp;Download Zip</a>
        </div>
    </div>
</div>

<div class="row"  ng-show="running">
    <div class="col-lg-12 col-md-12 center">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
        <h1>In Progress...</h1>
    </div>
</div>

<div class="row" ng-show="job && job.data.percentage >= 100">

    <div class="panel panel-default">
        <div class="panel-heading">
            任务信息
        </div>
        <div class="panel-body">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="false" ng-repeat="(type_name, number_list) in job.data.order_numbers" ng-show="number_list.length" class="panel-info">
                    <uib-accordion-heading>
                        成功生成 <b>{[type_name]}</b> 订单号: {[number_list.length]}个
                    </uib-accordion-heading>
                    <ol>
                        <li ng-repeat="order_number in number_list">{[order_number]}</li>
                    </ol>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12 col-md-12">
    <h1>库存信息</h1>
        </div>
    <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="(stat_name, stat_value) in stats track by $index">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check-square-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{[stat_value.unused]}</div>
                        <div>未使用<b>{[ stat_name ]}</b></div>
                    </div>
                </div>
            </div>
            <a href="{[hrefs[$index] ]}">
                <div class="panel-footer">
                    <div>
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-truck fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{[used_count]}</div>
                        <div>已经使用单号</div>
                    </div>
                </div>
            </div>
            <a href="/{[route_prefix]}/admin/admin.used_order">
                <div class="panel-footer">
                    <div>
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>