<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Upload Excel File to Generate Orders in Batch mode</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 col-md-3">
            <span class="btn btn-file btn-lg btn-block btn-success pull-right">
                <i class="fa fa-upload"></i>&nbsp;Upload Excel
                <input ngf-select type="file" ng-model="file">
            </span>
        </div>

        <div class="col-lg-6 col-md-6" ng-show="job.upload_file && !job.id">
        <li style="display:block;">
            <p>
                <strong>{[job.upload_file.name]}</strong>
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-active" role="progressbar" aria-valuenow="{[job.upload_file.percentage]}" aria-valuemin="0" aria-valuemax="100" style="width: {[job.upload_file.percentage]}%">
                    <span>Uploading -- {[job.upload_file.percentage]}%</span>
                </div>
                </div>
            </li>
        </div>

        <div class="col-lg-6 col-md-6" ng-show="job.id">
        <li style="display:block;">
            <p>
                <strong>{[job.upload_file.name]}</strong>
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{[job.upload_file.percentage]}" aria-valuemin="0" aria-valuemax="100" style="width: {[job.data.percentage]}%">
                    <span>{[job.data.status]} -- {[job.data.percentage]}%</span>
                </div>
                </div>
            </li>
        </div>

        <div class="col-md-3" ng-show="job.data.success">
            <a class="btn btn-warning btn-block btn-lg" ng-href="{[api_prefix]}/batch-order?id={[job.id]}&filename={[job.upload_file.name]}" target="_blank"><i class="fa fa-download"></i>&nbsp;Download Zip</a>
        </div>
    </div>


</div>