<div id="non-scan" ng-show="scan_mode==false">
    <h1 class="text-danger text-center"><i class="fa fa-ban fa-spin"></i>
        WARNING: NOT IN SCAN MODE <i class="fa fa-ban fa-spin"></i></h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Scan Barcode</h1>
    </div>
</div>

<div class="row">

    <div class="col-lg-3 col-md-3">
        <div class="input-group top-mini-buffer">
            <span class="input-group-addon" popover-trigger="mouseenter" popover-placement="bottom" popover="Route Choice">
                <i class="fa fa-truck fa-fw"></i></span>
            <select class="form-control" ng-model="route" ng-change="onSelectRoute()">
                <option value="">--------</option>
                <option value="bc">BC Route (3 Packages/Person Max)</option>
                <option value="cc">CC Route (1 Package/Person Max, No First Milk)</option>
            </select>
        </div>
    </div>

    <div class="col-lg-3 col-md-3" ng-show="route">

        <div class="input-group top-mini-buffer">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-barcode"></i> </span>
          <input type="text" class="form-control" placeholder="Click here and start scan"
                 aria-describedby="basic-addon1" ng-keypress="barcodeKeyPressed($event)" ng-model="barcode"
                 ng-focus="scan_mode=true" ng-blur="scan_mode=false" ng-init="scan_mode=false">
        </div>
    </div>

    <div class="col-lg-3 col-md-3" ng-show="validScan.length">
        <form action="/scan-export" method="POST" target="_blank" ng-submit="onSubmit()">
            <input name="barcodes" value="" ng-model="exportBarcodes" style="display:none">
            <button class="btn btn-primary btn-block btn-lg"><i class="fa fa-file-excel-o fa-fw"></i>&nbsp; Export Scan</button>
        </form>
    </div>

    <div class="col-lg-3 col-md-3" ng-show="validScan.length || invalidScan.length">
        <a ng-click="onReset()" class="btn btn-warning btn-block btn-lg"><i class="fa fa-trash-o fa-fw"></i>&nbsp; Reset</a>
    </div>
</div>

<hr/>

<div class="row" ng-show="route">
    <div class="col-lg-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                Accepted Scan
            </div>
            <div class="panel-body" ng-show="validScan.length">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Barcode</th>
                                <th>Receiver Name</th>
                                <th>Receiver ID</th>
                                <th>Detail</th>
                                <th>Prompt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success" ng-repeat="scan in validScan | orderBy:'-' track by $index" ng-class="getAcceptClass($index)">
                                <td>{[validScan.length - $index]}</td>
                                <td>{[scan.barcode]}</td>
                                <td>{[barcodeStorage[scan.barcode].receiver_name]}</td>
                                <td>{[barcodeStorage[scan.barcode].receiver_id_number]}</td>
                                <td>{[barcodeStorage[scan.barcode].detail]}</td>
                                <td>{[scan.prompt]}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Rejected Scan
            </div>
            <div class="panel-body" ng-show="invalidScan.length">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Barcode</th>
                                <th>Prompt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="danger" ng-repeat="scan in invalidScan | orderBy:'-'" ng-class="getRejectClass($index)">
                                <td>{[scan.barcode]}</td>
                                <td>{[scan.prompt]}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
